[submodule "sources/bitbake"]
	path = sources/bitbake
	url = git://git.natinst.com/bitbake.git
	branch = nilrt/comms-2.0/1.24
[submodule "sources/meta-cloud-services"]
	path = sources/meta-cloud-services
	url = git://git.natinst.com/meta-cloud-services.git
	branch = nilrt/15.0/dizzy
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = git://git.natinst.com/meta-openembedded.git
	branch = nilrt/comms-2.0/dizzy
[submodule "sources/meta-nilrt"]
	path = sources/meta-nilrt
	url = git://git.natinst.com/meta-nilrt.git
	branch = nilrt/comms-2.0/dizzy
[submodule "sources/meta-selinux"]
	path = sources/meta-selinux
	url = git://git.natinst.com/meta-selinux.git
	branch = nilrt/comms-2.0/dizzy
[submodule "sources/openembedded-core"]
	path = sources/openembedded-core
	url = git://git.natinst.com/openembedded-core
	branch = nilrt/comms-2.0/dizzy
[submodule "sources/meta-mingw"]
	path = sources/meta-mingw
	url = git@git:meta-mingw.git
	branch = nilrt/comms-2.0/dizzy
[submodule "sources/meta-mono"]
	path = sources/meta-mono
	url = git@git:meta-mono.git
	branch = nilrt/comms-2.0/dizzy
