[submodule "sources/bitbake"]
	path = sources/bitbake
	url = ../bitbake.git
	branch = nilrt_pub/comms-2.0/1.26
[submodule "sources/meta-cloud-services"]
	path = sources/meta-cloud-services
	url = ../meta-cloud-services.git
	branch = nilrt_pub/comms-2.0/fido
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = ../meta-oe.git
	branch = nilrt_pub/comms-2.0/fido
[submodule "sources/meta-nilrt"]
	path = sources/meta-nilrt
	url = ../meta-nilrt.git
	branch = nilrt_pub/comms-2.0/fido
[submodule "sources/meta-selinux"]
	path = sources/meta-selinux
	url = ../meta-selinux.git
	branch = nilrt_pub/comms-2.0/fido
[submodule "sources/openembedded-core"]
	path = sources/openembedded-core
	url = ../openembedded-core.git
	branch = nilrt_pub/comms-2.0/fido
[submodule "sources/meta-mingw"]
	path = sources/meta-mingw
	url = ../meta-mingw.git
	branch = nilrt_pub/comms-2.0/fido
[submodule "sources/meta-mono"]
	path = sources/meta-mono
	url = https://git.yoctoproject.org/git/meta-mono
	branch = master
[submodule "sources/meta-virtualization"]
	path = sources/meta-virtualization
	url = ../meta-virtualization.git
	branch = nilrt_pub/comms-2.0/fido
[submodule "sources/meta-security"]
	path = sources/meta-security
	url = ../meta-security.git
	branch = nilrt_pub/comms-2.0/fido
[submodule "sources/meta-orgconf"]
	path = sources/meta-orgconf
	url = ../meta-orgconf.git
	branch = master
[submodule "sources/meta-sdr"]
	path = sources/meta-sdr
	url = ../meta-sdr.git
	branch = nilrt_pub/comms-2.0/fido
[submodule "sources/meta-java"]
	path = sources/meta-java
	url = https://git.yoctoproject.org/git/meta-java
	branch = master
[submodule "sources/meta-measured"]
	path = sources/meta-measured
	url = https://github.com/flihp/meta-measured
	branch = fido
