[submodule "sources/bitbake"]
	path = sources/bitbake
	url = ../bitbake.git
	branch = nilrt_pub/comms-3.0/pyro
[submodule "sources/meta-cloud-services"]
	path = sources/meta-cloud-services
	url = ../meta-cloud-services.git
	branch = nilrt_pub/comms-3.0/pyro
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = ../meta-openembedded.git
	branch = nilrt_pub/comms-3.0/pyro
[submodule "sources/meta-nilrt"]
	path = sources/meta-nilrt
	url = ../meta-nilrt.git
	branch = nilrt_pub/comms-3.0/pyro
[submodule "sources/meta-selinux"]
	path = sources/meta-selinux
	url = ../meta-selinux.git
	branch = nilrt_pub/comms-3.0/pyro
[submodule "sources/openembedded-core"]
	path = sources/openembedded-core
	url = ../openembedded-core.git
	branch = nilrt_pub/comms-3.0/pyro
[submodule "sources/meta-mingw"]
	path = sources/meta-mingw
	url = ../meta-mingw.git
	branch = nilrt_pub/comms-3.0/pyro
[submodule "sources/meta-mono"]
	path = sources/meta-mono
	url = ../meta-mono.git
	branch = nilrt_pub/comms-3.0/pyro
[submodule "sources/meta-virtualization"]
	path = sources/meta-virtualization
	url = ../meta-virtualization.git
	branch = nilrt_pub/comms-3.0/pyro
[submodule "sources/meta-security"]
	path = sources/meta-security
	url = ../meta-security.git
	branch = nilrt_pub/comms-3.0/pyro
[submodule "sources/meta-orgconf"]
	path = sources/meta-orgconf
	url = ../meta-orgconf.git
	branch = master
[submodule "sources/meta-sdr"]
	path = sources/meta-sdr
	url = ../meta-sdr.git
	branch = nilrt_pub/comms-3.0/pyro
[submodule "sources/meta-java"]
	path = sources/meta-java
	url = ../meta-java.git
	branch = nilrt_pub/comms-3.0/pyro
[submodule "sources/meta-measured"]
	path = sources/meta-measured
	url = ../meta-measured.git
	branch = nilrt_pub/comms-3.0/pyro
[submodule "sources/meta-qt4"]
	path = sources/meta-qt4
	url = ../meta-qt4.git
	branch = nilrt_pub/comms-3.0/pyro
